<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LANChat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LANChat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LANChat.Properties.Settings>
            <setting name="UDPPort" serializeAs="String">
                <value>11000</value>
            </setting>
            <setting name="BroadcastAddress" serializeAs="String">
                <value>255.255.255.255</value>
            </setting>
            <setting name="ConnectionTimeOut" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="UserRefreshPeriod" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="LaunchAtStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SilentMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoRefreshUser" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MessageToForeground" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultFontColor" serializeAs="String">
                <value>WindowText</value>
            </setting>
            <setting name="SaveHistory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MessageHotKeyMod" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ThemeId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TCPPort" serializeAs="String">
                <value>11000</value>
            </setting>
            <setting name="ReceivedFileFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="FileToForeground" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoReceiveFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxSendFileSize" serializeAs="String">
                <value>2147483648</value>
            </setting>
            <setting name="DefaultGroupName" serializeAs="String">
                <value>General</value>
            </setting>
            <setting name="ShowSysTrayNotify" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserStatus" serializeAs="String">
                <value>Available</value>
            </setting>
            <setting name="ChatWindowed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisplayAlerts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SuspendAlertsOnBusy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlaySounds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SuspendSoundsOnBusy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConnectionRetries" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UseThemes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ThemeFile" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowMinimizeMessage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTimeStamp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AddDateToTimeStamp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseDefaultLogFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogFile" serializeAs="String">
                <value />
            </setting>
            <setting name="EmotTextToImage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowEmoticons" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IdleTimeMins" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="IdleStatusChange" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SuspendAlertsOnDND" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SuspendSoundsOnDND" serializeAs="String">
                <value>True</value>
            </setting>
        </LANChat.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup><applicationSettings>
        <LANChat.Properties.Settings>
            <setting name="ConfigVersion" serializeAs="String">
                <value>3</value>
            </setting>
        </LANChat.Properties.Settings>
    </applicationSettings>
</configuration>
